# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build
build/
dist/

# dotenv
.env
.env.*
env-template.txt

# EmailJS id file (sensitive)
emailJS_id.txt

# Mac / Windows system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
coverage/
.cache/
*.log
node_modules
